body {
  background-color: aqua;
  font-family: georgia;
}

h1 {
  font-family: Comic Sans MS;
  font-size: 60px;
  color: darkblue;
  text-align: center;
}

h4 {
  text-align: right;
  font-style: italic;
}

p {
  text-align: justify;
}

a {
  color: azure;
}

#coral {
  color: coral;
  text-align: center;
}

.hitam {
  color: black;
}

.hitam a {
  color: darkblue;
}

.hitam a:hover {
  background: darkblue;
  color: white;
}

h3 a:hover {
  color: crimson;
}
